.destinations-section {
  padding: 60px 0;

  h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
  }

  .destinations-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 2 ta yonma-yon
    gap: 20px;
  }

  .dest-card {
    position: relative;
    height: 320px; // 🔥 baland, kvadratdan uzunroq
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    cursor: pointer;
    @include df();

    .overlay {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.704); // rasmni qoraytiradi
    }

    .text {
      position: relative;
      color: #fff;
      text-align: center;

      h3 {
        font-size: 24px;
        font-weight: 700;
      }
    }

    &:hover {
      transform: scale(1.03);
      transition: 0.3s ease;
    }
  }

  @media (max-width: 768px) {
    .destinations-grid {
      grid-template-columns: 1fr;
    }

    .dest-card {
      height: 260px;
    }
  }
}
