.about {
  position: relative;
  background: center/cover no-repeat; // orqa fon rasmi
  color: $white; // yozuv oq bo'ladi
  min-height: 400px;
  @include df();
  text-align: center;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.742); // qoraroq overlay
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 20px;

    h2 {
      font-size: 36px;
      margin-bottom: 20px;
      color: $yellow;
    }

    p {
      font-size: 18px;
      line-height: 1.6;
      color: $white;
    }
  }

  @media (max-width: $mobile) {
    .about-content h2 {
      font-size: 28px;
    }

    .about-content p {
      font-size: 16px;
    }
  }
}
