#certificates {
  .cert-list {
    display: flex;
    gap: 20px;
    margin-top: 20px;

    .cert-item {
      background: $yellow;
      color: $text-dark;
      padding: 15px 20px;
      border-radius: 10px;
      font-weight: bold;
      border: 2px solid $blue;
    }
  }

  @media (max-width: $mobile) {
    .cert-list {
      flex-direction: column;
    }
  }
}
