html {
  scroll-behavior: smooth;
}
body {
  background: $white;
  color: $text-dark;
  font-family: Arial, sans-serif;
}

section {
  padding: 60px 0;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: $blue;
}

@media (max-width: $mobile) {
  h2 {
    font-size: 26px;
  }
}
